# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
__pycache__
.ipynb_checkpoints
dirtyauto/__pycache__
dirtyauto/crawler/__pycache__
dirtyauto/tests/__pycache__
dirtyauto/qlik2xls.ini